@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {
    .cont {
        display: grid;
        grid-template-columns: 0.05fr 1fr 0.05fr;
    }
    .intro {
        display: grid;
        margin: 20px 0px 30px 0px;
    }
    .pic {
        display: none;
    }
    h1 {
        font-size: 2rem;
    }
    .description .item:nth-child(1) {
        text-align: center;
    }
    .description .item:nth-child(2) {
        text-align: justify;
    }
    .projects {
        margin: 20px 0px 30px 0px;
        text-align: center;
    }
    .projects-content {
        display: grid;
    }
    .projects-content .item {
        margin: 15px 0px
    }
    .footer {
        margin: 20px 0px 30px 0px;
    }
}

@media (min-width: 769px) {
    .cont {
        display: grid;
        grid-template-columns: 0.05fr 1fr 0.05fr;
    }
    .intro {
        display: grid;
        margin: 20px 0px 30px 0px;
        grid-template-columns: 1fr 2fr;
        margin-bottom: 30px;
    }
    .pic {
        padding: 10px;
    }
    img {
        max-width: 100%;
        border-radius: 10%;
    }
    .description {
        padding: 0px 10px;
    }
    h1 {
        font-size: 2rem;
    }
    .description .item:nth-child(1) {
        text-align: center;
    }
    .description .item:nth-child(2) {
        text-align: justify;
    }
    .projects {
        margin: 20px 0px 30px 0px;
        text-align: center;
    }
    .projects-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .projects-content .item {
        margin: 15px 15px
    }
    .footer {
        margin: 20px 0px 30px 0px;
    }
}

@media (min-width: 1200px) {
    .cont {
        grid-template-columns: 0.75fr 2fr 0.75fr;
    }
    .intro {
        grid-template-columns: 0.5fr 1.5fr;
    }
}